@import 'imports/reset.scss','imports/mixins.scss';

body{
    margin: 0 1rem;
    font-family: 'Roboto', sans-serif; 
    font-size: 0.9em;
    color:#ffffff;
    background-color: rgb(0,0,0);
}
.header {
    width: 100%;
    margin:0 auto;
    background-color: purple;
    @include flex(row, nowrap, space-between, center);
    height: 5rem;   
    &__logo {
        background-color: orange;
    }
    &__a {}

    &__img {
        width: 100px;
        height:50px;
        background-color: red;
    }

    &__nav {
        min-width: calc(100% - 380px);
        @include flex(row, nowrap, flex-end, center);
        gap:1rem;
    }

    &__lang{
        max-width:10rem;
        background-color: transparent;
        @include flex(row, nowrap, center, center);
        gap:0.5rem;
        position: relative;
    }

    &__globesvg{
        position: absolute;
        left:0.5rem;
        width: 16px;
    }

    &__arrowsvg{
        position: absolute;
        right:0.5rem;
        width: 16px;
        z-index: 0;
    }

    &__select {
        background-color: transparent;
        max-height: 2rem;
        padding: 0.5rem 2rem;
        border:1px solid #606060;
        border-radius: 0.25rem;
        z-index: 1;
    }

    &__login {    
        max-width:8rem;
        min-width: fit-content;
        min-height: fit-content;
        border:1px solid transparent;
        border-radius: 0.25rem;
        background-color: #e50914;
        color:rgb(255,255,255);
        font-weight: bold;
        padding: 0.5rem 1rem;
        text-align: center;
    }
}
.faq {
    &__btn {}

    &__h2 {}

    &__info {}

    &__li {}

    &__p {}

    &__ul {}
}

.footer {
    &__a {}

    &__col {}

    &__li {}

    &__p {}

    &__ul {}
}


.landing {
    &__form {}

    &__h2 {}

    &__h3 {}

    &__input {}

    &__p {}

    &__submit {}
}

.lang {
    &___a {}

    &__a {}

    &__li {}
}

.main {}

.register {
    &__form {}

    &__input {}

    &__p {}

    &__submit {}
}

.specs {
    &__col {}

    &__h2 {}

    &__img {}

    &__p {}

    &__video {}
}