@import 'imports/reset.scss','imports/mixins.scss';

body{
    margin: 0 1rem;
    font-family: 'Roboto', sans-serif; 
    font-size: 0.9em;
    color:#ffffff;
    background-color: rgb(0,0,0);
}
.header {
    max-width: calc(100% - 4rem);
    margin:0 auto;
    background-color: purple;
    @include flex(row, nowrap, space-between, center);
    height: 5rem;   
    &__logo {
        background-color: orange;
    }
    &__a {}

    &__img {
        width: 100px;
        height:50px;
        background-color: red;
    }

    &__nav {
        min-width: calc(100% - 380px);
        @include flex(row, nowrap, flex-end, center);
        gap:1rem;
    }

    &__lang{
        max-width:10rem;
        background-color: transparent;
        @include flex(row, nowrap, center, center);
        gap:0.5rem;
        position: relative;
    }

    &__globesvg{
        position: absolute;
        left:0.5rem;
        width: 16px;
    }

    &__arrowsvg{
        position: absolute;
        right:0.5rem;
        width: 16px;
        z-index: 0;
    }

    &__select {
        background-color: transparent;
        min-height: 1.6rem;
        padding: 0.5rem 2rem;
        border:1px solid #606060;
        border-radius: 0.25rem;
        z-index: 1;
    }
    &__divlogin{
        @include flex(row, nowrap, center, center);

    }

    &__login {    
        max-width:8rem;
        min-width: fit-content;
        min-height: 1.8rem;
        border:1px solid transparent;
        border-radius: 0.25rem;
        background-color: #e50914;
        color:rgb(255,255,255);
        font-weight: 500;
        padding: 0.5rem 1rem;
        text-align: center;
    }
}

.landing {
    width:100%;
    max-height:80vh;
    background-color: #606060;
    @include flex(column, nowrap,center,center);
    gap:1.5rem;
    &__h2 {}

    &__h3 {}

}

.register {
    width:100%;
    background-color: #8cb35d;
    @include flex(column, nowrap,center,center);
    gap:1rem;
    &__form {
        @include flex(row, nowrap,space-between,center);
        gap:0.25rem;
    }

    &__input {
        background-color: black;
        border:1px solid #606060;
        border-radius: 0.25rem;
        padding: 0.5rem 1rem;  
        font-size: 1.4em;

     }

    &__p {
        padding:0 60px;
        font-size: 1.25em;
        text-align: center;
        padding:0 7rem;
    }

    &__btn {
        @include flex(row, nowrap,center,center);
        gap:0.2em;
        width:10rem;
        border:1px solid transparent;
        border-radius: 0.25rem;
        background-color: #e50914;
        color:rgb(255,255,255);
        font-weight: 500;
        font-size: 1.4em;
        padding: 0.5rem 1rem;
        text-align: center;
    }
    
    &__div{

    }

    &__svg{

    }
}

.faq {
    &__btn {}

    &__h2 {}

    &__info {}

    &__li {}

    &__p {}

    &__ul {}
}

.footer {
    &__a {}

    &__col {}

    &__li {}

    &__p {}

    &__ul {}
}

.lang {
    &___a {}

    &__a {}

    &__li {}
}

.main {}

.specs {
    &__col {}

    &__h2 {}

    &__img {}

    &__p {}

    &__video {}
}